.stay a::-moz-selection {
  background: rgba(255, 140, 0, 0.7);
}.stay a::selection {
  background: rgba(255, 140, 0, 0.7);
}

.in-menu a::-moz-selection {
  background: #1E375D;
}

.in-menu a::selection {
  background: #1E375D;
}

.in-menu a:hover::-moz-selection {
  background: rgba(255, 140, 0, 0.7);
}

.in-menu a:hover::selection {
  background: rgba(255, 140, 0, 0.7);
}

.right-header a::-moz-selection {
  background: #1E375D;
}

.right-header a::selection {
  background: #1E375D;
}

.right-header a:hover::-moz-selection {
  background: rgba(255, 140, 0, 0.7);
}

.right-header a:hover::selection {
  background: rgba(255, 140, 0, 0.7);
}

main p::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main p::selection {
  background: rgba(255, 140, 0, 0.8);
}

main a::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main a::selection {
  background: rgba(255, 140, 0, 0.8);
}

main h2::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main h2::selection {
  background: rgba(255, 140, 0, 0.8);
}

main h3::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main h3::selection {
  background: rgba(255, 140, 0, 0.8);
}

main h4::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main h4::selection {
  background: rgba(255, 140, 0, 0.8);
}

main span::-moz-selection {
  background: rgba(255, 140, 0, 0.8);
}

main span::selection {
  background: rgba(255, 140, 0, 0.8);
}

br::-moz-selection {
  background: none;
}

br::selection {
  background: none;
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

body {
  background: #1A1C19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body header {
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98.5%;
  border-radius: 20px;
  border: 1.5px solid #E0D6C2;
  margin: 0 auto;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding: 2.5px;
}
body header a {
  all: unset;
  text-decoration: none;
  color: #E0D6C2;
  font-size: 12px;
  cursor: pointer;
  border: 1.5px solid #E0D6C2;
  color: #E0D6C2;
  border-radius: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body header a:hover {
  background: #E0D6C2;
  color: #1A1C19;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body header .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79.5%;
}
body header .left-header .stay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .left-header .stay a {
  border: none;
  cursor: default;
  padding: 11px 10px;
  width: 280px;
  text-align: center;
  background: #333122;
}
body header .left-header .stay a:hover {
  background: #333122;
  color: #E0D6C2;
}
body header .left-header .in-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .left-header .in-menu a {
  padding: 11px 30px;
}
body header .right-header {
  width: 19.5%;
}
body header .right-header .just-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body header .right-header .just-right a {
  padding: 11px 25px;
}
body header .right-header .menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
body header .right-header .menu a {
  padding: 11px 25px;
}

body main {
  width: 98.5%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main p, body main a, body main h2, body main h3, body main h4 {
  color: #342415;
}
body main h2, body main h3, body main h4 {
  font-weight: bold;
  font-family: "Suwannaphum", serif;
}
body main span {
  -webkit-text-decoration: 2px underline #342415;
          text-decoration: 2px underline #342415;
  text-underline-offset: 2px;
}
body main a {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
body main p {
  font-size: 11px;
  font-family: "Inter", sans-serif;
}
body main .bor {
  margin-top: 17.5px;
  border: 1px solid black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 18px;
  max-width: 145px;
}
body main .bor h2 {
  font-size: 12px;
  font-weight: 100;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
body main h3 {
  all: unset;
  font-size: 30px;
  font-weight: bold;
  font-family: "Suwannaphum", serif;
  color: #342415;
}
body main h4 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 20px;
}
body main aside {
  background: #E0D6C2;
  width: 28.5%;
  border-radius: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  place-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main aside .aside-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  width: 92.6%;
  margin-top: -0.4vw;
}
body main aside .crecer-1 {
  width: 94%;
  height: 380px;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: -20px;
}
body main aside .crecer-1 .in-crecer-1 {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
  margin: 0 auto;
}
body main aside .crecer-1 .in-crecer-1:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body main aside .crecer-1 .in-crecer-1 img {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}
body main aside .bottom-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0px;
  width: 100%;
}
body main aside .bottom-column .line1 {
  width: 100%;
  height: 0.1px;
  background: rgba(26, 28, 25, 0.5);
}
body main aside .bottom-column .footer-space {
  width: 92.65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section {
  width: 70.9%;
  border-radius: 20px;
}
body main section .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: #8E8768;
  border-radius: 20px;
  height: 41%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7.5px;
}
body main section .top-section .top-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 96.9%;
  margin: 0 auto;
}
body main section .top-section .top-column .top-text {
  margin-top: -5px;
  width: 40%;
}
body main section .top-section .top-column .crecer-2 {
  width: 47%;
  height: 160px;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 0px;
}
body main section .top-section .top-column .crecer-2 .in-crecer-2 {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}
body main section .top-section .top-column .crecer-2 .in-crecer-2:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body main section .top-section .top-column .crecer-2 .in-crecer-2 img {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}
body main section .top-section .bottom-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0px;
}
body main section .top-section .bottom-column .line1 {
  width: 100%;
  height: 0.1px;
  background: rgba(26, 28, 25, 0.5);
}
body main section .top-section .bottom-column .footer-space {
  width: 96.9%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 57.5%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
}
body main section .bottom-section .bottom-section-left, body main section .bottom-section .bottom-section-right {
  width: 49.6%;
  height: 100%;
  border-radius: 20px;
}
body main section .bottom-section .bottom-section-left {
  background: #976C54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section .bottom-section .bottom-section-left .crecer-3 {
  width: 95%;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
}
body main section .bottom-section .bottom-section-left .crecer-3 .in-crecer-3 {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15px;
}
body main section .bottom-section .bottom-section-left .crecer-3 .in-crecer-3:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body main section .bottom-section .bottom-section-left .crecer-3 .in-crecer-3 img {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin-top: -50px;
}
body main section .bottom-section .bottom-section-left .text-balls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
body main section .bottom-section .bottom-section-left .text-balls .absolute-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
body main section .bottom-section .bottom-section-left .text-balls .absolute-line .portrait-line {
  height: 2px;
  width: 0%;
  background: #342415;
  margin-top: -3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body main section .bottom-section .bottom-section-left .text-balls .absolute-line .portrait-line.open {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body main section .bottom-section .bottom-section-left .text-balls .balls {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body main section .bottom-section .bottom-section-left .text-balls .balls .ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #342415;
}
body main section .bottom-section .bottom-section-left > p {
  width: 94%;
  margin: 0 auto;
}
body main section .bottom-section .bottom-section-left .bottom-column {
  margin-bottom: -4px;
}
body main section .bottom-section .bottom-section-left .bottom-column .line1 {
  width: 100%;
  height: 0.1px;
  background: rgba(26, 28, 25, 0.5);
}
body main section .bottom-section .bottom-section-left .bottom-column .footer-space {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section .bottom-section .bottom-section-right {
  background: #B5A38D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section .bottom-section .bottom-section-right .top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 94%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main section .bottom-section .bottom-section-right .top-text .bor {
  margin-top: 10px;
}
body main section .bottom-section .bottom-section-right .top-text .sir-img {
  width: 100%;
  max-width: 55px;
  margin-top: 10px;
}
body main section .bottom-section .bottom-section-right .top-text .sir-img img {
  width: 100%;
  border-radius: 50%;
}
body main section .bottom-section .bottom-section-right .last-text {
  margin: 0 auto;
  width: 94%;
  margin-top: -10px;
}
body main section .bottom-section .bottom-section-right .last-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  width: 94%;
}
body main section .bottom-section .bottom-section-right .last-lines .last1 {
  width: 100%;
  background: #342415;
  height: 2px;
}
body main section .bottom-section .bottom-section-right .last-lines .st0 {
  margin-top: 5px;
}
body main section .bottom-section .bottom-section-right .last-lines .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
}
body main section .bottom-section .bottom-section-right .last-lines .txt .lstp {
  font-weight: bold;
}
body main section .bottom-section .bottom-section-right .bottom-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0px;
  width: 100%;
}
body main section .bottom-section .bottom-section-right .bottom-column .line1 {
  width: 100%;
  height: 0.1px;
  background: rgba(26, 28, 25, 0.5);
}
body main section .bottom-section .bottom-section-right .bottom-column .footer-space {
  width: 92.65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 840px) {
  body header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  body header .left-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  body header .left-header .stay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body header .left-header .stay a {
    width: 100%;
  }
  body header .left-header .in-menu {
    display: none;
  }
  body header .right-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
  }
  body header .right-header .just-right {
    display: none;
  }
  body header .right-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body header .right-header .menu a {
    width: 100%;
  }
}
@media (max-width: 840px) {
  body main {
    width: 98.5%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main aside {
    width: 100%;
    margin-bottom: 7.5px;
  }
  body main aside .aside-text {
    width: 95.6%;
  }
  body main aside .crecer-1 {
    width: 98%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  body main aside .crecer-1 .in-crecer-1 {
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body main aside .crecer-1 .in-crecer-1:hover {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body main aside .crecer-1 .in-crecer-1 img {
    width: 100%;
    cursor: pointer;
    margin-top: -150px;
  }
  body main section {
    width: 100%;
  }
  body main section .top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    background: #8E8768;
    border-radius: 20px;
    height: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section .top-section .top-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 98%;
    margin: 0 auto;
  }
  body main section .top-section .top-column .top-text {
    margin-top: -5px;
    width: 40%;
    margin-left: 7.85px;
  }
  body main section .top-section .top-column .crecer-2 {
    width: 60%;
    height: 190px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
  }
  body main section .top-section .top-column .crecer-2 .in-crecer-2 {
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 15px;
  }
  body main section .top-section .top-column .crecer-2 .in-crecer-2:hover {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body main section .top-section .top-column .crecer-2 .in-crecer-2 img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
  }
  body main section .top-section .bottom-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0px;
  }
  body main section .top-section .bottom-column .footer-space {
    width: 94%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 640px) {
  body main section {
    width: 100%;
  }
  body main section .top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background: #8E8768;
    border-radius: 20px;
    height: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main section .top-section .top-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 98%;
    margin: 0 auto;
  }
  body main section .top-section .top-column .top-text {
    margin-top: -5px;
    width: 97%;
    margin: 0 auto;
  }
  body main section .top-section .top-column .crecer-2 {
    width: 100%;
  }
}
@media (max-width: 555px) {
  body main section .top-section {
    height: 45%;
  }
  body main section .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 20px;
  }
  body main section .bottom-section .bottom-section-left, body main section .bottom-section .bottom-section-right {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7.5px;
  }
}